body {
    text-align: center;
    background-color: rgb(255, 249, 249)(228, 234, 243, 0.283);
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 900;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: rgba(169, 242, 193, 0.284);
    cursor: pointer;
    
}
footer{

    width: 100%;
    padding: 05px;
    display: flex;
    justify-content: center;
    
    background: rgba(233, 229, 229, 0.141);
    color: #cec6d3;
    font-size: x-small;
}